<div class="magic_gdpr_notice">
  <div class="wrapper">
    {% if title %}
    <h3>
      {% if logo %}
      <img src="{{ logo }}" />
      {% endif %}
      {{ title }}
    </h3>
    {% endif %}


    {% if content %}
    <div>{{ content }}</div>
    {% endif %}

    <div class="details">
      {% if details.title %}
      <h4>{{ details.title }}</h4>
      {% endif %}

      <form action="{{ form.url }}" method="POST">
        <input type="hidden" name="nonce" value="{{ form.nonce }}" />
        <input type="hidden" name="action" value="{{ form.action }}" />

        <ul>
          {% for cookie in cookies %}
          <li>
            {% include 'cookie.twig' %}
          </li>
          {% endfor %}
          <li>
            <input type="submit" value="{{ submit_button_text }}" />
            {% if accept_all_enabled %}
              <input type="submit" name="accept_all" value="{{ accept_all_button_text }}" />
            {% endif %}
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
